h1 {
	color: #ffffff;
	text-align: center;		
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #333399;
	width: 100%;
	border-bottom: solid;
	border-color: black;
	border-width: 4px;
	padding: auto;
	margin: 0px;
}

h2 {
	color: #333399;;
	text-align: center;		
	padding-top: 20px;
	padding-bottom: 20px; 
	width: 100%;
	margin: 0px;
}

h3 {
	color: #333399;;
	text-align: center;		
	padding-top: 20px;
	padding-bottom: 20px; 
	width: 100%;
	margin: 0px;
}

body {
	background-color: #9999ff;
	margin: 0;
}

p {
	text-align:center;
}
